*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc
_yardoc
doc/


# bundler
.bundle

# jeweler generated
pkg


.localeapp/

# Annoying temp files
*~
*.out
*.project
*.DS_Store
*~
.#*
*#

.localeapp/